basicConstraints = CA:FALSE
keyUsage = critical,digitalSignature,keyEncipherment
extendedKeyUsage = serverAuth
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = *.googleapis.com
DNS.2 = oauth2.googleapis.com
DNS.3 = www.googleapis.com
DNS.4 = storage.googleapis.com
DNS.5 = pubsub.googleapis.com
DNS.6 = bigquery.googleapis.com
DNS.7 = spanner.googleapis.com
DNS.8 = bigtable.googleapis.com
DNS.9 = firestore.googleapis.com
DNS.10 = secretmanager.googleapis.com
DNS.11 = cloudtasks.googleapis.com
DNS.12 = logging.googleapis.com
DNS.13 = monitoring.googleapis.com
DNS.14 = compute.googleapis.com
DNS.15 = container.googleapis.com
DNS.16 = run.googleapis.com
DNS.17 = sqladmin.googleapis.com
DNS.18 = redis.googleapis.com
DNS.19 = alloydb.googleapis.com
DNS.20 = dataproc.googleapis.com
DNS.21 = iam.googleapis.com
DNS.22 = cloudresourcemanager.googleapis.com
DNS.23 = serviceusage.googleapis.com
DNS.24 = cloudbilling.googleapis.com
DNS.25 = workflows.googleapis.com
DNS.26 = cloudfunctions.googleapis.com
DNS.27 = cloudscheduler.googleapis.com
